.header--container {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, "Inter";
}

.header-logo {
  display: flex;
  margin: 10px 40px;
  align-items: center;
  align-self: center;
}

.header-logo div {
  font-weight: 500;
  font-size: 22px;
  font-family: "fasthand";
}

.header-logo span {
  font-size: 20px;
  text-transform: uppercase;
  color: #735bf2;
  font-weight: 900;
  margin-right: 5px;
}

@media only screen and (max-width: 499px) {
  .header--container {
    padding: 0;
  }
}
